*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(16, 15, 15);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navbar ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#navbar li {
    float: left;
}
#navbar a {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease-in;
    padding: 5px;
    display: block;
}
#navbar a:hover {
    color: orchid;
}
video {
    margin-left: 2px;
    margin-right: 2px;
    object-fit: cover;
    width: 99%;
}